body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
  .header {
    padding: 135px;
    text-align:center;
    color: black;
  }

  .header h2{
    font-size: 45px;
  }
  .header p{
      font-size: 25px;
      color: whitesmoke;
  }
  .header {
       background-image: url('../img/img6.webp');
       background-position: center;
       background-size: cover;
       position: relative;
  }

  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: darkcyan;
    color: white;
  }
  
  .content {
    padding: 15px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  div[class="nav"], .secondary {
    background-color: darkcyan;
  }
  .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
  }
  .hero-btn:hover{
    border: 1px solid darkcyan;
    background:	darkcyan;
   transition: 0.5s;
  }

  .content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }
  .content h1{
    font-size: 100px;
    font-weight: 550;
  } 
  .content p{
  color: black;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  padding: 10px;
  text-align: left;
  }

.campus{
width: 80%;
margin:  auto;
text-align: center;
padding-top: 30px;
}
.campus-col{
  border-radius: 10px;
  margin-bottom: 30px;
  display: inline-block;
  justify-content: space-evenly;
  text-align: center;
  padding-right: 30px;
  margin-left: 2px;

  
}
.campus-col img {
  width: 300px;
  height: 350px;;
  justify-content: space-between;

}

.slut {
  border: none;
  display: inline-block;
  padding: 7px;
  color: white;
  background-color: #000;
  text-align: left;
  cursor: pointer;
  width: 98.99%;
  font-size: 18px;
  padding-right: 0px;
}
    
@media(max-width: 375px) {
  .header {
    font-size: 14px;
    padding:120px;
    text-align: center;}
    
  #navbar{
    width: 100%;

  }
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 7px;
    font-size: 12px;
    height: 19px;
  }
  .slut {
    border: none;
    display: inline-block;
    padding: 7px;
    color: white;
    background-color: #000;
    text-align: left;
    cursor: pointer;
    width: 96.99%;
    font-size: 18px;
    padding-right: 0px;
  }
  
}